Repository LiberTEM/LiberTEM, pull requests merged in 2020-02, with the labels that each got.

#582 zenodo_upload: support for uploading more than two files
  scripts/release
  scripts/zenodo_upload
Labels: infra

#586 Add versioning note and bump to .dev0 step
  docs/source/releasing.rst
Labels: docs

#610 Add `get_extensions` function to `libertem.io.dataset`
  docs/source/changelog/features/get_extensions.rst
  src/libertem/io/dataset/__init__.py
  src/libertem/io/dataset/base.py
  src/libertem/io/dataset/blo.py
  src/libertem/io/dataset/dm.py
  src/libertem/io/dataset/empad.py
  src/libertem/io/dataset/frms6.py
  src/libertem/io/dataset/hdf5.py
  src/libertem/io/dataset/k2is.py
  src/libertem/io/dataset/mib.py
  src/libertem/io/dataset/ser.py
  tests/io/test_base.py
Labels: file format

#619 Cleanup for changelog items
  docs/source/changelog/bugfix/hdf5_full_frame_auto_tileshape.rst
  docs/source/changelog/bugfix/hdf5_roi_fix.rst
  docs/source/changelog/features/get_extensions.rst
Labels: docs

#624 RFC: call preprocess on master node, too
  src/libertem/common/buffers.py
  src/libertem/udf/base.py
Labels: WIP, enhancement

#653 Add items to release checklist
  docs/source/releasing.rst
Labels: GSOC, docs
